In [15]:
from bs4 import BeautifulSoup

In [16]:
with open("manual.html", "r") as f:
    page = f.read()

In [17]:
soup = BeautifulSoup(page, "html.parser")

In [18]:
results = soup.select('div[class="sc_listingTilePrice primaryColor"]')

In [19]:
results[0].text.strip()

'KSh 450 000\n                \n\n                        Per Month'

In [20]:
prices = [r.text.strip() for r in results]

In [21]:
results = soup.select('div[class="sc_listingTileArea"]')

In [22]:
results[0].text.strip()

'5 Bedroom House to Rent in Karen'

In [23]:
no_bedrooms = [r.text.strip() for r in results]

In [24]:
results = soup.select('div img')
results[0]["src"]

'https://images.prop24.com/ygggjuut6aphjgej3rielb57qi/Crop237x198'

In [25]:
images = [r["src"] for r in results]

In [26]:
rental_houses = list(zip(no_bedrooms, prices, images))

In [27]:
def get_rental_houses(page):
    soup = BeautifulSoup(page, 'html.parser')
    results = soup.select('div[class="sc_listingTilePrice primaryColor"]')
    price = [r.text.strip() for r in results]
    
    results = soup.select('div[class="sc_listingTileArea"]')
    no_bedrooms = [r.text.strip() for r in results]
    
    results = soup.select('div img')
    images = [r["src"] for r in results]
    
    return list(zip(no_bedrooms, price, images))

In [28]:
get_rental_houses(page)

[('5 Bedroom House to Rent in Karen',
  'KSh 450 000\n                \n\n                        Per Month',
  'https://images.prop24.com/ygggjuut6aphjgej3rielb57qi/Crop237x198'),
 ('3 Bedroom Apartment / Flat to Rent in Kilimani',
  'KSh 280 000\n                \n\n                        Per Month',
  '/Content/Images/blank.gif?z=693fc8'),
 ('5 Bedroom Townhouse to Rent in Karen',
  'KSh 350 000\n                \n\n                        Per Month',
  '/Property24/Content/Images/icon_360.png'),
 ('4 Bedroom Townhouse to Rent in Kiambu Road',
  'KSh 160 000\n                \n\n                        Per Month',
  '/Content/Images/blank.gif?z=693fc8'),
 ('Commercial Property to Rent in Lavington',
  'KSh 180 000\n                \n\n                        Per Month',
  '/Content/Images/blank.gif?z=693fc8'),
 ('4 Bedroom House to Rent in Karen',
  'KSh 250 000\n                \n\n                        Per Month',
  '/Content/Images/blank.gif?z=693fc8'),
 ('3 Bedroom Apartment / Flat to Rent in Westlands',
  'KSh 150 000\n                \n\n                        Per Month',
  'https://images.prop24.com/pefy4jgwpfhuekxi5pxlbghz2m/Crop237x198'),
 ('3 Bedroom Apartment / Flat to Rent in Westlands',
  'KSh 150 000\n                \n\n                        Per Month',
  '/Content/Images/blank.gif?z=693fc8'),
 ('4 Bedroom House to Rent in Kitisuru',
  'KSh 465 000\n                \n\n                        Per Month',
  '/Content/Images/blank.gif?z=693fc8'),
 ('2 Bedroom Apartment / Flat to Rent in Westlands',
  'KSh 90 000\n                \n\n                        Per Month',
  '/Content/Images/blank.gif?z=693fc8'),
 ('5 Bedroom House to Rent in Karen',
  'KSh 350 000\n                \n\n                        Per Month',
  '/Content/Images/blank.gif?z=693fc8'),
 ('3 Bedroom Apartment / Flat to Rent in Lavington',
  'KSh 170 000\n                \n\n                        Per Month',
  '/Content/Images/blank.gif?z=693fc8'),
 ('3 Bedroom Apartment / Flat to Rent in Kilimani',
  'KSh 100 000\n                \n\n                        Per Month',
  'https://images.prop24.com/t7ejm7qbahgb3k7jmlirnd7dyi/Crop237x198'),
 ('3 Bedroom Apartment / Flat to Rent in Parklands',
  'KSh 110 000\n                \n\n                        Per Month',
  '/Content/Images/blank.gif?z=693fc8'),
 ('4 Bedroom Townhouse to Rent in Kilimani',
  'KSh 155 000\n                \n\n                        Per Month',
  '/Property24/Content/Images/icon_360.png'),
 ('3 Bedroom Apartment / Flat to Rent in Kilimani',
  'KSh 280 000\n                \n\n                        Per Month',
  '/Content/Images/blank.gif?z=693fc8'),
 ('3 Bedroom Apartment / Flat to Rent in Parklands',
  'KSh 240 000\n                \n\n                        Per Month',
  '/Content/Images/blank.gif?z=693fc8'),
 ('Commercial Property to Rent in Lavington',
  'KSh 500 000\n                \n\n                        Per Month',
  '/Content/Images/blank.gif?z=693fc8'),
 ('2 Bedroom Apartment / Flat to Rent in Upper Hill',
  'KSh 200 000\n                \n\n                        Per Month',
  '/Content/Images/blank.gif?z=693fc8'),
 ('4 Bedroom Apartment / Flat to Rent in Kilimani',
  'KSh 140 000\n                \n\n                        Per Month',
  'https://images.prop24.com/ecrnody7dqwgcnulk6zkplombm/Crop237x198'),
 ('5 Bedroom Townhouse to Rent in Kitisuru',
  'KSh 550 000\n                \n\n                        Per Month',
  '/Content/Images/blank.gif?z=693fc8')]

In [30]:
from IPython.display import Image, display

In [31]:
rental_info = get_rental_houses(page)

In [33]:
for rent in rental_info:
    print(rent[0])
    print(rent[1])
    display(Image(url=rent[2], width=50))

5 Bedroom House to Rent in Karen
KSh 450 000


                        Per Month

3 Bedroom Apartment / Flat to Rent in Kilimani
KSh 280 000


                        Per Month

5 Bedroom Townhouse to Rent in Karen
KSh 350 000


                        Per Month

4 Bedroom Townhouse to Rent in Kiambu Road
KSh 160 000


                        Per Month

Commercial Property to Rent in Lavington
KSh 180 000


                        Per Month

4 Bedroom House to Rent in Karen
KSh 250 000


                        Per Month

3 Bedroom Apartment / Flat to Rent in Westlands
KSh 150 000


                        Per Month

3 Bedroom Apartment / Flat to Rent in Westlands
KSh 150 000


                        Per Month

4 Bedroom House to Rent in Kitisuru
KSh 465 000


                        Per Month

2 Bedroom Apartment / Flat to Rent in Westlands
KSh 90 000


                        Per Month

5 Bedroom House to Rent in Karen
KSh 350 000


                        Per Month

3 Bedroom Apartment / Flat to Rent in Lavington
KSh 170 000


                        Per Month

3 Bedroom Apartment / Flat to Rent in Kilimani
KSh 100 000


                        Per Month

3 Bedroom Apartment / Flat to Rent in Parklands
KSh 110 000


                        Per Month

4 Bedroom Townhouse to Rent in Kilimani
KSh 155 000


                        Per Month

3 Bedroom Apartment / Flat to Rent in Kilimani
KSh 280 000


                        Per Month

3 Bedroom Apartment / Flat to Rent in Parklands
KSh 240 000


                        Per Month

Commercial Property to Rent in Lavington
KSh 500 000


                        Per Month

2 Bedroom Apartment / Flat to Rent in Upper Hill
KSh 200 000


                        Per Month

4 Bedroom Apartment / Flat to Rent in Kilimani
KSh 140 000


                        Per Month

5 Bedroom Townhouse to Rent in Kitisuru
KSh 550 000


                        Per Month

In [36]:
import pandas as pd

rent_df = pd.DataFrame(rental_info, columns=["title", "price", "cover-url"])

In [37]:
rent_df

,title,price,cover-url
0,5 Bedroom House to Rent in Karen,KSh 450 000\n \n\n ...,https://images.prop24.com/ygggjuut6aphjgej3rie...
1,3 Bedroom Apartment / Flat to Rent in Kilimani,KSh 280 000\n \n\n ...,/Content/Images/blank.gif?z=693fc8
2,5 Bedroom Townhouse to Rent in Karen,KSh 350 000\n \n\n ...,/Property24/Content/Images/icon_360.png
3,4 Bedroom Townhouse to Rent in Kiambu Road,KSh 160 000\n \n\n ...,/Content/Images/blank.gif?z=693fc8
4,Commercial Property to Rent in Lavington,KSh 180 000\n \n\n ...,/Content/Images/blank.gif?z=693fc8
5,4 Bedroom House to Rent in Karen,KSh 250 000\n \n\n ...,/Content/Images/blank.gif?z=693fc8
6,3 Bedroom Apartment / Flat to Rent in Westlands,KSh 150 000\n \n\n ...,https://images.prop24.com/pefy4jgwpfhuekxi5pxl...
7,3 Bedroom Apartment / Flat to Rent in Westlands,KSh 150 000\n \n\n ...,/Content/Images/blank.gif?z=693fc8
8,4 Bedroom House to Rent in Kitisuru,KSh 465 000\n \n\n ...,/Content/Images/blank.gif?z=693fc8
9,2 Bedroom Apartment / Flat to Rent in Westlands,KSh 90 000\n \n\n ...,/Content/Images/blank.gif?z=693fc8
10,5 Bedroom House to Rent in Karen,KSh 350 000\n \n\n ...,/Content/Images/blank.gif?z=693fc8
11,3 Bedroom Apartment / Flat to Rent in Lavington,KSh 170 000\n \n\n ...,/Content/Images/blank.gif?z=693fc8
12,3 Bedroom Apartment / Flat to Rent in Kilimani,KSh 100 000\n \n\n ...,https://images.prop24.com/t7ejm7qbahgb3k7jmlir...
13,3 Bedroom Apartment / Flat to Rent in Parklands,KSh 110 000\n \n\n ...,/Content/Images/blank.gif?z=693fc8
14,4 Bedroom Townhouse to Rent in Kilimani,KSh 155 000\n \n\n ...,/Property24/Content/Images/icon_360.png
15,3 Bedroom Apartment / Flat to Rent in Kilimani,KSh 280 000\n \n\n ...,/Content/Images/blank.gif?z=693fc8
16,3 Bedroom Apartment / Flat to Rent in Parklands,KSh 240 000\n \n\n ...,/Content/Images/blank.gif?z=693fc8
17,Commercial Property to Rent in Lavington,KSh 500 000\n \n\n ...,/Content/Images/blank.gif?z=693fc8
18,2 Bedroom Apartment / Flat to Rent in Upper Hill,KSh 200 000\n \n\n ...,/Content/Images/blank.gif?z=693fc8
19,4 Bedroom Apartment / Flat to Rent in Kilimani,KSh 140 000\n \n\n ...,https://images.prop24.com/ecrnody7dqwgcnulk6zk...
20,5 Bedroom Townhouse to Rent in Kitisuru,KSh 550 000\n \n\n ...,/Content/Images/blank.gif?z=693fc8

In [39]:
rent_df.groupby(["title"]).agg("count").sort_values("price", ascending=False)

                                                  price  cover-url
title
3 Bedroom Apartment / Flat to Rent in Kilimani        3          3
3 Bedroom Apartment / Flat to Rent in Parklands       2          2
3 Bedroom Apartment / Flat to Rent in Westlands       2          2
5 Bedroom House to Rent in Karen                      2          2
Commercial Property to Rent in Lavington              2          2
2 Bedroom Apartment / Flat to Rent in Upper Hill      1          1
2 Bedroom Apartment / Flat to Rent in Westlands       1          1
3 Bedroom Apartment / Flat to Rent in Lavington       1          1
4 Bedroom Apartment / Flat to Rent in Kilimani        1          1
4 Bedroom House to Rent in Karen                      1          1
4 Bedroom House to Rent in Kitisuru                   1          1
4 Bedroom Townhouse to Rent in Kiambu Road            1          1
4 Bedroom Townhouse to Rent in Kilimani               1          1
5 Bedroom Townhouse to Rent in Karen                  1          1
5 Bedroom Townhouse to Rent in Kitisuru               1          1